@mixin font_extraLight {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

@mixin font_light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin font_regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font_semiBold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin img_responsive {
    width: 100%;
    height: auto;
    display: block;
}